
.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.toggled {
    padding-left: 250px;
}

.sidebar_wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled .sidebar_wrapper {
    width: 250px;
}

.page_content_wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

.wrapper.toggled .page_content_wrapper {
    position: absolute;
    margin-right: -250px;
}


/* Sidebar Styles */

.sidebar_nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar_nav li {
    text-indent: 20px;
    line-height: 40px;
    cursor: pointer;
}

.sidebar_nav li span {
    display: block;
    color: #999999;
}

.sidebar_nav li span:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar_nav li span:active,

.sidebar_nav>.sidebar_brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar_nav>.sidebar_brand span {
    color: #999999;
}

.sidebar_nav>.sidebar_brand span:hover {
    color: #fff;
    background: none;
}

.btn_toggle {
    background-color: #082032;
    border-radius: 10px;
    border: none;
    padding: 10px 20px 10px 20px;
    color: #fff;
}

@media(min-width:768px) {
    .wrapper {
        padding-left: 0;
    }

    .wrapper.toggled {
        padding-left: 250px;
    }

    .sidebar_wrapper {
        width: 0;
    }

    .page_content_wrapper.toggled .sidebar_wrapper {
        width: 250px;
    }

    .page_content_wrapper {
        padding: 20px;
        position: relative;
    }

    .wrapper.toggled .page_content_wrapper {
        position: relative;
        margin-right: 0;
    }
}